div.divD {
    width: 100px;
    height: 100px;
    margin: 10px;
    float: left;
    color: beige;
    background-color: rgb(165, 42, 132);
}

div.divChanged {
    width: 100px;
    height: 100px;
    margin: 20px;
    float: left;
    color: white;
    background-color: rgb(165, 42, 132);
}

div.survol {
    visibility: hidden;
}